[package]
name = "hipstr"
version = "0.3.0"
authors = ["Polazarus <polazarus@users.noreply.github.com>"]
description = """Another immutable string: zero-cost static,
    inline representation for small strings, reference counting,
    and owned (but shared) slicing"""
repository = "https://github.com/polazarus/hipstr"
keywords = ["string", "refcount", "inline", "arc_str", "rc_str", "cow"]
categories = ["memory-management", "data-structures"]
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
rust-version = "1.64.0"

[features]
unstable = []
serde = ["dep:serde", "dep:serde_bytes"]

[[bench]]
name = "competition"
harness = false

[dev-dependencies]
arcstr = "1.1.5"
fastrand = "1.9.0"
flexstr = "0.9.2"
imstr = "0.2.0"
serde_test = "1.0.176"
serde = { version = "1.0.69", features = ["derive"] }
serde_json = "1.0"

[dependencies]
serde = { version = "1.0.69", optional = true }
serde_bytes = { version = "0.11.5", optional = true }
